.link{
    border-radius: 8px;
    border-color: aqua;
    gap: 2em;
    padding: 5px;
    border: solid 3px #fff;
    color: var(--blanco);
    text-decoration: none;
}
.container {
    display: inline-block;
    width: 150px;
}

.link:hover{
    border: solid 3px var(--azul);
    color: var(--azul);
}